= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :user_id, value: current_user.id

  .field
    = f.label 'Question'
    = f.text_field :content

  .field
    = f.label 'Topics (Seperate Using Commas)'
    = f.text_field :all_topics

  .field
    = f.label 'Lecture Number'
    = f.text_field :all_lectures

  = f.fields_for :correct_answer do |g|
    .field
      = g.label 'Correct Answer'
      = g.text_field :content
      = g.hidden_field :correct, value: true

  - @question.answers.each do |a|
    = f.fields_for :answers, a do |g|
      - if !a.correct
        .field
          = g.label 'Incorrect Answer'
          = g.text_field :content
          = g.hidden_field :correct, value: false

  .actions
    = f.submit 'Save'
