%p#notice= notice

%p
  %b Created by:
  = get_user(@question.user_id).username
  %h2 Question:
  %p
    = @question.content
  %h2 Answers:
  - @question.answers.each.with_index do |a,i|
    - if a.content != nil
      = label_tag a.content
      = radio_button :answer, "value", id: i


= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
