%h1 Listing user_ids

%table
  %thead
    %tr
      %th Username
      %th Last
      %th Id
      %th
      %th
      %th

  %tbody
    - @user_ids.each do |user_id|
      %tr
        %td= user_id.username
        %td= user_id.Last
        %td= user_id.id
        %td= link_to 'Show', user_id
        %td= link_to 'Edit', edit_user_id_path(user_id)
        %td= link_to 'Destroy', user_id, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_id_path
