!!! 5
%html
  %head
    %meta(content='text/html' charset='utf-8' http-equiv='Content-Type')
    %meta(name='viewport' content='width=device-width')
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   |
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    /[if lt IE 9]
      <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js'>
      </script>
  %body(id='#{controller_name}-#{action_name}')
    - if logged_in? # Page navigation is visible after logging in, not on login screen, etc.
      #top-bar
        #logo.logo
          CS 1332 A
        .logged-in-as
          %span.mobile-hide Logged in as
          = link_to(@current_user) do
            = @current_user.username
            - if is_instructor?
              (instructor)
          \-
          = link_to(logout_path, method: "delete") do
            = fa_icon "sign-out"
            logout
      %nav#menu
        %hr
        %ul
          %li
            = link_to('/home') do
              = fa_icon "home fw"
              %span.mobile-hide Home
          %li
            = link_to('/questions') do
              = fa_icon "question-circle fw"
              %span.mobile-hide Questions
          %li
            = link_to('/statistics') do
              = fa_icon "bar-chart-o fw"
              %span.mobile-hide Statistics
          - if is_instructor?
            %li
              = link_to('/users') do
                = fa_icon "th-list fw"
                %span.mobile-hide Roster
        %hr
    #content.container
      #modal-window.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog"}
      - if check_privilege(controller_name, action_name)
        = yield
      - else
        = controller.redirect_to action: 'login', controller: 'login'
