!!! 5
%html
  %head
    %meta(content='text/html' charset='utf-8' http-equiv='Content-Type')
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   |
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to "QNA", 'home', id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Home",   '/home'
            %li= link_to "Log in", '/login'
            - if logged_in?
              %li= link_to "Users", '#'
              %li= link_to "Create Question", '/questions'
              #li.dropdown
                #a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                #b.caret
              #ul.dropdown-menu
                #li= link_to "Profile", current_user
                #li= link_to "Settings", '#'
                #li.divider
                #li
                  = link_to "Log out", logout_path, method: "delete"
            - else
              #li= link_to "Log in", login_path

    .container
      - if logged_in? || controller_name == 'login' || controller_name == 'users'
        = yield
      - else
        = controller.redirect_to action: 'login', controller: 'login'
