!!! 5
%html
  %head
    %meta(content='text/html' charset='utf-8' http-equiv='Content-Type')
    %meta(name='viewport' content='width=device-width')
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   |
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    /[if lt IE 9]
      <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js'>
      </script>
  %body
    - if logged_in?
      -# Page navigation is visible after logging in, not on login screen, etc.
      #top-bar
        #logo.logo
          CS 1332 A
        .logged-in-as
          Logged in -
          = link_to(logout_path, method: "delete") do
            %i.fa.fa-sign-out
            logout
      %nav#menu
        %ul
          %li
            = link_to('/home') do
              %i.fa.fa-home
              Home
          %li
            = link_to('/questions') do
              %i.fa.fa-question-circle
              Questions
          %li
            %a{:href => '#'}
              %i.fa.fa-bar-chart-o
              Statistics
          - if is_instructor?
            %li
              %a{:href => '#'}
                %i.fa.fa-th-list
                Roster
          %li
            %a{:href => '#'}
              %i.fa.fa-cog
              Settings
    #content.container
      - if check_privilege(controller_name, action_name)
        = yield
      - else
        = controller.redirect_to action: 'home', controller: 'home'
