!!! 5
%html
  %head
    %meta(content='text/html' charset='utf-8' http-equiv='Content-Type')
    %meta(name='viewport' content='width=device-width')
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', |
      'data-turbolinks-track': 'reload'                   |
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    /[if lt IE 9]
      <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js'>
      </script>
  %body
    - if logged_in?
      #top-bar
        #logo.logo
          CS 1332 A
        .logged-in-as
          Logged in as User -
          %a{:href => logout_path}
            %i.fa.fa-sign-out
            logout
      %nav#menu
        %ul
          %li
            %a{:href => url_for(:controller => '/home', :action => 'home')}
              %i.fa.fa-home
              Home
          %li
            %a{:href => '#'}
              %i.fa.fa-question-circle
              Questions
          %li
            %a{:href => '#'}
              %i.fa.fa-bar-chart-o
              Statistics
          %li
            %a{:href => '#'}
              %i.fa.fa-th-list
              Roster
          %li
            %a{:href => '#'}
              %i.fa.fa-cog
              Settings
    #content.container
      - if logged_in? || controller_name == 'login' || controller_name == 'users'
        = yield
      - else
        = controller.redirect_to action: 'login', controller: 'login'
